body{
    background-image:url(../images/gato.png);
    /* background-size: cover; */
    background-attachment: fixed;
    background-position: 900px 50px;
    background-color: rgb(226, 117, 28);
    background-repeat: no-repeat;
}

h1, h2{
    text-align: center;
    color: #000000;
}

p{
    text-align: justify;
    background-color: rgba(255, 228, 196, 1);
}

p, table, a{
    color:#000000;
}

table{
    text-align: center;
    font-size: 50px;
}

img{
    width: 300px;
}

div{
    width: 50%;
    background: #FFFFFF;
    margin: 0 auto;
}
